name: CI Workflow labo
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  bluid:
    runs-on: ubuntu-latest

  steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.JS
      uses: actions/setup-node@v2
      with:
        node-version: "14"

    - name: Install dependancies
      run: npm ci

    - name: Run tests
      run: npm test
